<%= form_for(@player_tank) do |f| %>
  <% if @player_tank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_tank.errors.count, "error") %> prohibited this player_tank from being saved:</h2>

      <ul>
      <% @player_tank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.number_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :tank_id %><br>
    <%= f.number_field :tank_id %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
