<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @player_tank.player_id %>
</p>

<p>
  <strong>Tank:</strong>
  <%= @player_tank.tank_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @player_tank.rating %>
</p>

<%= link_to 'Edit', edit_player_tank_path(@player_tank) %> |
<%= link_to 'Back', player_tanks_path %>
