<h1>Listing tanks</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Country</th>
      <th>Tier</th>
      <th>Style</th>
      <th>Average rating</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tanks.each do |tank| %>
      <tr>
        <td><%= link_to tank.name, tank %></td>
        <td><%= tank.description %></td>
        <td><%= link_to tank.country.name, country_path(tank.country) %></td>
        <td><%= tank.tier_number %></td>
        <td><%= link_to tank.style.name, style_path(tank.style) %></td>
        <td><%= tank.average_rating %></td>

        <% unless current_user.nil? or !current_user.admin %>
            <td><%= link_to 'Edit', edit_tank_path(tank), class: "btn btn-info"  %></td>
            <td><%= link_to 'Destroy', tank, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %></td>


        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>Number of tanks: <%= @tanks.count %></p>

<br>

<%= link_to 'New Tank', new_tank_path , class: "btn btn-success" unless current_user.nil? or !current_user.admin %>
