<p id="notice"><%= notice %></p>

<h1><%= @tank.name %></h1>


<p>
  <h2><strong>Description:</strong></h2>
  <%= @tank.description %>
</p>

<p>
  <h2><strong>Country:</strong></h2>
  <%= link_to @tank.country.name, country_path(@tank.country) %>
</p>

<p>
  <h2><strong>Tier:</strong></h2>
  <%= @tank.tier_number %>
</p>

<p>
  <h2><strong>Style:</strong></h2>
  <%= link_to @tank.style.name, style_path(@tank.style) %>
</p>

<h2><strong>Users:</strong></h2>

<%= render 'user_table' %>

<%= link_to 'Edit', edit_tank_path(@tank) unless current_user.nil? or !current_user.admin %>
