<% if @clan.tanks.empty? %>

    <p>Clan does not have any tanks!</p>



<% else %>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Country</th>
        <th>Tier</th>
        <th>Style</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @clan.tanks.distinct.each do |tank| %>
          <tr>
            <td><%= link_to tank.name, tank %></td>
            <td><%= tank.description %></td>
            <td><%= link_to tank.country.name, country_path(tank.country) %></td>
            <td><%= tank.tier_number %></td>
            <td><%= link_to tank.style.name, style_path(tank.style) %></td>

          </tr>
      <% end %>
      </tbody>
    </table>

<% end %>

<br>


