<h1>Listing clans</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>

      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clans.each do |clan| %>
      <tr>
        <td><%= link_to clan.name, clan %></td>
        <td><%= clan.description %></td>

        <% unless current_user.nil? or !current_user.admin %>

            <td><%= link_to 'Edit', edit_clan_path(clan) %></td>
            <td><%= link_to 'Destroy', clan, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% end %>

        </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>Number of clans: <%= @clans.count %></p>

<br>



<%= link_to 'New Clan', new_clan_path  unless current_user.nil? or !current_user.admin %>
