<%= form_for(@user_tank) do |f| %>
  <% if @user_tank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_tank.errors.count, "error") %> prohibited this user_tank from being saved:</h2>

      <ul>
      <% @user_tank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <% if @user_tank.new_record? %>

        <% if @tanks.nil? %>

            <p> You already have all the tanks! </p>

        <% else %>


            <div class="field">
              <%= f.label :tank_id %><br>
              <%= f.select :tank_id, options_from_collection_for_select(@tanks, :id, :name) %>

            </div>

            <div class="field">
              <%= f.label :rating %><br>
              <%= f.number_field :rating %>
            </div>

            <div class="actions">
              <%= f.submit "Add a tank" %>
            </div>

        <% end %>


     <% else %>

        <div class="field">
          <%= f.label :rating %><br>
          <%= f.number_field :rating %>
        </div>

        <div class="actions">
          <%= f.submit "Edit a tank" %>
        </div>


    <% end %>



<% end %>
