<h1>Listing users and their tanks</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Tank</th>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_tanks.each do |user_tank| %>
      <tr>
        <td><%= link_to user_tank.user.name, user_path(user_tank.user) %></td>
        <td><%= link_to user_tank.tank.name, tank_path(user_tank.tank) %></td>
        <td><%= user_tank.rating %></td>
        <td><%= link_to 'Show', user_tank %></td>

        <% unless current_user.nil?  %>
            <% if current_user == user_tank.user or current_user.admin %>
                <td><%= link_to 'Edit', edit_user_tank_path(user_tank), class: "btn btn-info"  %></td>
                <td><%= link_to 'Destroy', user_tank, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %></td>
            <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>Users have <%= pluralize( @user_tanks.count, 'tank') %> </p>

<br>

<%= link_to 'Add a new tank', new_user_tank_path , class: "btn btn-success" if current_user %>
