<p id="notice"><%= notice %></p>

<p>
  <h2><strong>User:</strong></h2>
  <%= link_to @user_tank.user.name, user_path(@user_tank.user) %>
</p>

<p>
 <h2><strong>Tank:</strong></h2>
  <%= link_to @user_tank.tank.name, tank_path(@user_tank.tank) %>
</p>

<p>
  <h2><strong>Rating:</strong></h2>
  <%= @user_tank.rating %>
</p>

<%= link_to 'Edit', edit_user_tank_path(@user_tank) %>