<h1>Listing countries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= link_to country.name, country %></td>

        <% if current_user %>

            <td><%= link_to 'Edit', edit_country_path(country) %></td>
            <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

   <p>Number of countries: <%= @countries.count %></p>

<br>

<%= link_to 'New Country', new_country_path if current_user %>
