<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Clansite" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Clansite" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class=".container-fluid">

       <%= render 'layouts/messages' %>

      <div class="row">
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6">
          <img src="http://clans.worldoftanks.eu/media/clans/emblems/cl_218/500000218/emblem_64x64.png" width="100">

        </div>

        <div class="col-md-6">

          <img src="http://clans.worldoftanks.eu/media/clans/emblems/cl_360/500007360/emblem_64x64.png" width="100">
        </div>
      </div>

    </main>
  </body>
</html>
